<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="http://personalpages.manchester.ac.uk/postgrad/gavin.abercrombie/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gavin.abercrombie@postgrad.manchester.ac.uk">email</a></li>
	        		<li><a href="https://github.com/gavinabercrombie">github.com/GavinAbercrombie</a></li>
				</ul>
			</footer>
		</body>
	</html>
